[submodule "locust_scripts"]
	path = locust_scripts
	url = https://github.com/jtpgames/Locust_Scripts
[submodule "TeaStore"]
	path = TeaStore
	url = https://github.com/jtpgames/TeaStore
[submodule "Simulators"]
	path = Simulators
	url = https://github.com/jtpgames/Simulators
[submodule "Kieker_ETL"]
	path = Kieker_ETL
	url = https://github.com/jtpgames/Kieker_ETL
[submodule "ML_ETL"]
	path = ML_ETL
	url = https://github.com/jtpgames/ML_ETL
[submodule "Regression-Analysis_Workload-Characterization"]
	path = Regression-Analysis_Workload-Characterization
	url = https://github.com/jtpgames/Regression-Analysis_Workload-Characterization
